<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="home" fragment="intro">
        <img class="image" src="https://www.valu.com.eg/assets/images/valu.webp" alt="Valu">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars " style="color: #ff5100;" ></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="about">Who we are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="use">How to use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="solutions">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="partner">Become Our Partner</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
