<div class="container">
    <div class="row ">
        <div class="col-lg-5 d-flex align-items-start justify-content-center flex-column">
            <div class="row">
                <h1 class="title mb-4">Become Our Partner</h1>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        <span>Expand Your Customer Base</span>
                        <br>
                        By partnering with Valu, you are able to tap into our extensive network of customers (1M+)
                        who are actively seeking innovative financial solutions.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        <span> Drive Your Sales</span>
                        <br>
                        As a Valu partner, we empower you to offer seamless and secure payment solutions to your
                        customers.
                    </p>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-7 col-md-6 pb-5">
                    <a href="https://forms.office.com/pages/responsepage.aspx?id=Jx0wDVGguEGxrG3osVSnbvZtQ03NLRZPvANh7ao7NTpUQTBPV01RVFo5VzFRNDRSNlFBQTdEQ0pXUyQlQCN0PWcu" target="_blank" class="defaultbtn mt-3 w-100">Join Valu Network</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 text-center text-lg-end">
            <img src="assets/images/partner.jpg" alt="Become a Partner" class="partner-img">
        </div>
    </div>
</div>
