<div class="container">
        <section id="intro">
                <app-intro></app-intro>
        </section>
        <section id="about">
                <app-about></app-about>
        </section>
        <section id="products">
                <app-products></app-products>
        </section>
        <section  id="use">
                <app-use></app-use>
        </section>
        <section id="solutions">
                <app-solutions></app-solutions>
        </section>
        <section id="partner">
                <app-partner></app-partner>
        </section>
        <section id="download">
                <app-download></app-download>
        </section>
</div>