<div class="container">
    <div class="row">
        <div class="col-xl-8 d-flex flex-column align-items-start justify-content-center">
            <div class="row mb-4">
                <div class="col-12">
                    <h1 class="title">Download Our App</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <a href="https://apps.apple.com/eg/app/valu/id1199345579" target="_blank" rel="noopener">
                                <img src="https://www.valu.com.eg/assets/images/app-store.webp" alt="App Store Download Button" class="download-app-btn">
                            </a>
                        </div>
                        <div class="col-4 mb-3 p-0">
                            <a href="https://play.google.com/store/apps/details?id=com.efgh.customer" target="_blank" rel="noopener">
                                <img src="https://www.valu.com.eg/assets/images/google-play.webp" alt="Google Play Download Button" class="download-app-btn">
                            </a>
                        </div>
                        <div class="col-4 mb-3 px-sm-2 px-lg-3" style="padding-left: 0.26rem">
                            <a href="https://appgallery.huawei.com/app/C100865283" target="_blank" rel="noopener">
                                <img src="https://www.valu.com.eg/assets/images/app-gallery.webp" alt="App Gallery Download Button" class="download-app-btn">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 my-5 text-center text-xl-end d-flex align-items-center justify-content-center justify-content-xl-end">
            <img src="https://www.valu.com.eg/assets/images/app-preview.webp" alt="App Preview">
        </div>
    </div>
</div>
