<footer class="bg-body-tertiary text-center text-lg-start">
    
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <a class="footer-brand" href="#">
                <img class="image" src="https://www.valu.com.eg/assets/images/valu.webp" alt="Valu">
              </a>
              <p>
                A leading lifestyle-enabling fintech platform offering customers and businesses financial solutions. 
              </p>
        </div>
        <!--Grid column-->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase" style="color: black;">Products</h5>
            <p>
              <a href="#!" class="text-reset"><img src="https://www.valu.com.eg/assets/images/u.webp" alt="U" style="
                max-width: 35px; max-height: 20px;"></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><img src="https://www.valu.com.eg/assets/images/sha2labaz.webp" alt="Sha2labaz" style="
                max-width: 150px;max-height: 16px;"></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><img src="https://www.valu.com.eg/assets/images/flip.webp" alt="Flip" style="
                max-width: 64px; max-height: 24px;"></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><img src="https://www.valu.com.eg/assets/images/akeed.webp" alt="Akeed" style="
                max-width: 123px;max-height: 18px;"></a>
            </p>
          </div>
          <!-- Grid column -->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase" style="color: black;">Contact Us</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-body"><img src="https://www.valu.com.eg/assets/icons/mobile.webp" alt="Mobile" width="26"> 16671</a>
              </li>
              <li>
                <a href="#!" class="text-body"><img src="https://www.valu.com.eg/assets/icons/email.webp" alt="E-mail" width="26"> contact_us&#64;valu.com.eg</a>
              </li>
              <li>
                <a href="#!" class="text-body"><img src="https://www.valu.com.eg/assets/icons/location.webp" alt="Location" class="pe-1" width="30">Arkan Plaza , Al Sheikh Zayed city , First floor Unit AW-417</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Grid container -->
    <div class="text-center bg-body-tertiary container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
        data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #6bddd3; border-radius: 50%;"
          href="https://www.facebook.com/valuegypt"
          target="_blank"
          role="button"
          ><i class="fab fa-facebook-f" style="color:#fb2e00"></i
        ></a>

        <!-- Youtube -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #6bddd3; border-radius: 50%;"
          href="https://www.youtube.com/channel/UCO5MweZ9wpmli-nc8QaHK2w"
          target="_blank"
          role="button"
          ><i class="fab fa-youtube"style="color:#fb2e00"></i
        ></a>

        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #6bddd3; border-radius: 50%;"
          href="https://www.instagram.com/valuegypt/"
          target="_blank"
          role="button"
          ><i class="fab fa-instagram"style="color:#fb2e00"></i
        ></a>
        <!-- Tiktok -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #6bddd3; border-radius: 50%;"
          href="https://www.tiktok.com/@valuegypt"
          target="_blank"
          role="button"
          ><i class="fab fa-tiktok"style="color:#fb2e00"></i
        ></a>
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #6bddd3; border-radius: 50%;"
          href="https://www.linkedin.com/company/valuegypt"
          target="_blank"
          role="button"
          ><i class="fab fa-linkedin-in"style="color:#fb2e00"></i
        ></a>
        <h6 class="link-text" style="color: black;">Follow us on Social Media</h6>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        <small class="footer-rights">
            © All Rights Reserved by
            <a href="/" style="
                        color: #00c4b3;
                        text-decoration: none;
                    ">Valu</a>
            <span id="year">2024</span>

            <a href="https://www.valu.com.eg/privacy-policy">
                |
                Privacy Policy
                |
            </a>

            <a href="https://www.valu.com.eg/terms-conditions">

                Terms &amp; Conditions
                |
            </a>

        </small>
    </div>
    <!-- Copyright -->
</footer>